table, td {
    border: 1px solid black;
    border-radius: 5px;
}

table {text-align: center;}

h1 {
  text-align: center;
}

#chartContainer {
  flex: 1;
  height: 300px;
  min-width: 500px;
}

#tables-container {
  padding: 0;
  margin: 0;
  /*list-style: none;*/

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

#summariesTable {
  width:610px;
  min-width: 610px;
  margin: .5%;
  background: lightblue;
}

#summariesTable button {
  border: none;
  background: lightblue;
}

#fw-content {
  padding: 10px;
}

#statsTable {
  width: 610px;
  min-width: 610px;
  margin: .5%;
  background: lightblue;
}
